body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Prevent body from scrolling */
}

.background-container {
  position: fixed;
  z-index: -1; /* Ensure background stays behind all other elements */
  top: 0;
  left: 0;
  height: 100vh; /* Use vh to cover the full viewport height */
  width: 100vw; /* Use vw to cover the full viewport width */
  background-color: #240750;
  background-size: cover;
  background-position: center; /* Center the background */
}

.shining {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(20rem);
  z-index: 1; /* Lower z-index for background elements */
  height: 1000px;
  width: 1000px;
  background-color: #fff9c4;
  border-radius: 50%;
  animation: pulsate 20s infinite;
}

.ball,
.ball2,
.ball3,
.ring,
.square.dark,
.square2.dark,
.square2.white,
.ring2,
.square3.dark,
.square.white {
  z-index: 0; /* Ensure all background elements have a low z-index */
  position: absolute;
  animation: squareanim 10s ease-in-out infinite alternate;
}

.ball {
  top: 15%;
  left: 15%;
  animation: float 20s ease-in-out infinite alternate;
}

.ball2 {
  top: 50%;
  left: 15%;
}

.ball3 {
  top: 50%;
  right: 25%;
}

.ring {
  top: 10%;
  right: 0%;
  animation: float2 20s ease-in-out infinite alternate;
}

.square.dark {
  top: 20%;
  right: 40%;
}

.square2.dark {
  top: 70%;
  left: 20%;
}

.square2.white {
  top: 70%;
  right: 50%;
}

.ring2 {
  top: 25%;
  left: 30%;
}

.square3.dark {
  top: 60%;
  right: 20%;
}

.square.white {
  top: 50%;
  left: 40%;
}

.foreground-content {
  position: relative;
  z-index: 2;
}

@keyframes squareanim {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) scale(1) rotate(180deg);
  }
  75% {
    transform: translate(-50%, -50%) scale(0.8) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(50px, -20px) rotate(45deg);
  }
  50% {
    transform: translate(-30px, 30px) rotate(90deg);
  }
  75% {
    transform: translate(-20px, -50px) rotate(135deg);
  }
  100% {
    transform: translate(0, 0) rotate(180deg);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-60px, 30px) rotate(-45deg);
  }
  50% {
    transform: translate(40px, -40px) rotate(-90deg);
  }
  75% {
    transform: translate(30px, 60px) rotate(-135deg);
  }
  100% {
    transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
